# Build results
bin/
obj/
out/
*.log
*.exe
*.dll

# VS Code and tooling
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.code-workspace
.history/
*.db
*.db-shm
*.db-wal
*.jfm

# Rider / JetBrains
.idea/

# DotNet CLI
*.cache

# Secrets 
appsettings.Development.json
.env

## OS files
.DS_Store
Thumbs.db

## Test results
TestResults/

# Visual Studio
.vs/
*.ncrunchsolution
*.ncrunchproject
*.DotSettings
*.DotSettings.user